/* 使用google字型 */
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body, html {
    font-family: 'cwTeXYen', sans-serif;
    width: 100%;
    background-color: rgb(136, 136, 136);
    color: rgb(255, 255, 255);
    margin: 0;
}

header {
    vertical-align: top;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: rgb(0, 0, 0, 0.5);
    overflow: hidden;
}

header a {
    display: block;
    text-align: center;
    padding: 3px 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    /*字體特效*/
    font-size: 100%;
    border-bottom: 0rem solid transparent;
}

header a:hover {
    background-color: rgb(136, 136, 136);
}

.ahome {
    float: left;
}

.about01 {
    float: right;
}

.about02 {
    float: right;
    background-color: rgb(136, 136, 136);
}


.bodydiv {
    width: 920px;
    background-color: rgb(136, 136, 136);
    margin: 0px auto;
    text-align: center;
}

.nothing {
    width: 100%;
    height: 50px;
}

.aph01{
    width: 40%;
    height: 350px;
    float: left;
}
.aph01 img{
    width: 80%;
    height: 100%; 
}

.frontlink {
    z-index: 2;
}

.frontlink img {
    max-width: 6%;
    max-height: 6%;
}

.aboutme {
    /* margin: 0px auto; */
    width: 60%;
    height: 350px;
    float: left;
}

.aboutmb {
    /* margin: 0px auto; */
    display: none;
    width: 60%;
    height: 350px;
    float: left;
}

.aboutme table {
    width: 80%;
    text-align: left;
    font-size: 120%;
}

.skill {
    width: 100%;
}

.introduction {
    width: 100%;
}

.introduction table {
    text-align: center;
    font-size: 120%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 300px;
}

.foothr {
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 10px;
}

footer {
    /* position: relative; */
    /* background-size: cover; */
    /* margin-top: -50; */
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 20px;
    width: 100%;
}

footer img {
    max-width: 25%;
    max-height: 25%;
}

/* 寬度在920~720px顯示內容 */
@media only screen and (max-width: 920px) {
    .bodydiv {
        width: 100%;
        background-color: rgb(136, 136, 136);
        margin: auto;
    }
}

/* 寬度在720px以下顯示內容 */
@media only screen and (max-width: 720px) {
    .bodydiv {
        width: 100%;
        background-color: rgb(136, 136, 136);
        margin: auto;
    }

    .aph01 {
        display: none;
    }

    .aboutme {
        display: none;
    }

    .aboutmb {
        display: block;
        width: 100%;
    }

    .introduction {
        display: none;
    }
}