/*linwx.html>>css*/
/*google字型*/
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
/*包含整個網頁*/
 body, html{
     font-family: 'cwTeXYen', sans-serif;/*使用字型*/
     background-color: rgb(136, 136, 136);
     width:100%;
     margin: 0; padding: 0;
     box-sizing: border-box;
    }
/*首頁頂圖片*/
  .frontpage{
     vertical-align:top;/*消除與div間細*/
     position: relative;
     background-size: cover;
     margin: auto;
     width: 100%;
     z-index: 1;
  }
  .frontlink{
     left: 82vw;
     top: 11.5vw; 
     position: absolute;
     z-index: 2;
  }
  .frontlink img{
     max-width: 30%;
     max-height: 30%;
  }
/*永遠置頂的條條*/
  .topdiv{
     position: -webkit-sticky;
     position: sticky;
     top: 0px;
     background-color: rgb(73, 73, 73, 0.5);
     overflow: hidden;
  }
  .topdiv a{
     display: block;
     color: #ffffff;
     text-align: center;
     padding: 3px 15px;
     text-decoration: none;/*字體特效*/
     font-size: 1rem;
     border-bottom: 2px solid transparent;
  }
  .ahome{
     float: left;
  }
  .about{
     float: right;
  }
  .topdiv a:hover{
     background-color: rgb(138, 138, 138);
  }
/*關於我*/
  .aboutme{
     background-color: rgba(0, 0, 0, 0.5);
     position: relative;
     margin:10px auto;
     width: 550px;
     height: 350px;
  }
  .aboutme img{
     position: absolute;
     left: 17.5em;
     top: 3.6em; 
     /*opacity: 0.9; 透明度*/
     filter: alpha(opacity=50);
     max-width: 120%;
     max-height: 120%;
  }
  .aboutme table{
      color: rgb(255, 255, 255);
      text-align: center;
  }
